{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>

<body>
    <div id="content">
        #aqui se muestra todo el contenido de la pagina
        {% block content %}
        
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
        <a href="">inicio</a><img src="../../static/huskcascodorado2.png" alt="">
    
        
    
    
    
    </div>
</body>

</html>
{% load static %}